<nav class="purple darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Bookcation</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/listings/new">Add listing</a></li>
    </ul>
  </div>
</nav>
