<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <img
          src="https://themesbrand.com/velzon/html/default/assets/images/error400-cover.png"
          alt="404 not found"
          class="responsive-img"
        />
        <div class="row center">
          <h5 class="header col s12 light">Sorry, Page not Found 😭</h5>
        </div>
        <div class="row center">
          <a href="/" class="btn-large waves-effect waves-light orange"
            >Back to Home</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
